doctype html
html(lang="en")
  head
    title Header parser microservice
  body
    h1 Timestamp microservice
    p
      | This microservice lets you get info about your system's browser by | parsing the header sent to 
      code /sysinfo. 
      | It will return the IP address, the language and the operating system.
    h3 Usage:
    p 
      | Make a get request or head over to 
      code /sysinfo.
    